<a href="https://colab.research.google.com/github/estagiariodaford/AtividadesDoCursoPandas/blob/main/Segundo_exemplo_em_Python_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Segundo exemplo de manipulação de dados usando Python Pandas** 

Veremos inserção de dados, remoção de colunas, merge, gráficos

Autor: Guilherme Bacelar

Data: 9 e 10 de fevereiro de 2023
"NOVO NOTEBOOK"

In [113]:
# Importando biblioteca pandas no Python
import pandas as pd

In [114]:
combustiveis_df = pd.read_excel("ca-2021-02.xlsx")
display(combustiveis_df.head())

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA,2021-11-01,6.799,NaN,R$ / litro,VIBRA ENERGIA
1,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,ETANOL,2021-11-01,5.299,NaN,R$ / litro,VIBRA ENERGIA
2,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL,2021-11-01,5.549,NaN,R$ / litro,VIBRA ENERGIA
3,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA ADITIVADA,2021-11-01,6.899,NaN,R$ / litro,VIBRA ENERGIA
4,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL S10,2021-11-01,5.649,NaN,R$ / litro,VIBRA ENERGIA

In [115]:
#Inserção simples de dados
combustiveis_df['Ativo'] = True

display(combustiveis_df.head())

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira,Ativo
0,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA,2021-11-01,6.799,NaN,R$ / litro,VIBRA ENERGIA,True
1,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,ETANOL,2021-11-01,5.299,NaN,R$ / litro,VIBRA ENERGIA,True
2,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL,2021-11-01,5.549,NaN,R$ / litro,VIBRA ENERGIA,True
3,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA ADITIVADA,2021-11-01,6.899,NaN,R$ / litro,VIBRA ENERGIA,True
4,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL S10,2021-11-01,5.649,NaN,R$ / litro,VIBRA ENERGIA,True

In [116]:
# Criar uma coluna "Obs" que tenha nela escrito "MELHOR CIDADE" quando a coluna Municipio for igual a SALVADOR
combustiveis_df["Obs"] = ["MELHOR CIDADE" if municipio == "SALVADOR" else "" for municipio in combustiveis_df['Municipio']]
display(combustiveis_df.loc[combustiveis_df['Municipio'].isin(["SALVADOR", "JEQUIE"])])

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira,Ativo,Obs
66,NE,BA,SALVADOR,MP COMERCIO DE COMBUSTIVEIS LTDA,09.149.936/0001-53,RUA DJALMA DUTRA,119,NaN,NAZARÉ,40255-000,GASOLINA,2021-11-01,6.630,NaN,R$ / litro,BRANCA,True,MELHOR CIDADE
67,NE,BA,SALVADOR,MP COMERCIO DE COMBUSTIVEIS LTDA,09.149.936/0001-53,RUA DJALMA DUTRA,119,NaN,NAZARÉ,40255-000,ETANOL,2021-11-01,5.630,NaN,R$ / litro,BRANCA,True,MELHOR CIDADE
68,NE,BA,SALVADOR,MP COMERCIO DE COMBUSTIVEIS LTDA,09.149.936/0001-53,RUA DJALMA DUTRA,119,NaN,NAZARÉ,40255-000,GASOLINA ADITIVADA,2021-11-01,6.630,NaN,R$ / litro,BRANCA,True,MELHOR CIDADE
69,NE,BA,SALVADOR,MP COMERCIO DE COMBUSTIVEIS LTDA,09.149.936/0003-15,AVENIDA MARIO LEAL FERREIRA,252,NaN,BROTAS,40285-600,GASOLINA,2021-11-01,6.630,NaN,R$ / litro,BRANCA,True,MELHOR CIDADE
70,NE,BA,SALVADOR,MP COMERCIO DE COMBUSTIVEIS LTDA,09.149.936/0003-15,AVENIDA MARIO LEAL FERREIRA,252,NaN,BROTAS,40285-600,ETANOL,2021-11-01,5.630,NaN,R$ / litro,BRANCA,True,MELHOR CIDADE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168390,NE,BA,JEQUIE,M W COMERCIO DE COMBUSTIVEIS SERVICOS E ALIMEN...,00.697.413/0002-58,AVENIDA GOVERNADOR OTAVIO MANGABEIRA,153,ANEXO A,MANDACARU,45210-144,ETANOL,2021-12-31,5.599,NaN,R$ / litro,BRANCA,True,
168391,NE,BA,JEQUIE,M W COMERCIO DE COMBUSTIVEIS SERVICOS E ALIMEN...,00.697.413/0002-58,AVENIDA GOVERNADOR OTAVIO MANGABEIRA,153,ANEXO A,MANDACARU,45210-144,DIESEL S10,2021-12-31,5.449,NaN,R$ / litro,BRANCA,True,
168402,NE,BA,JEQUIE,COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA,28.629.089/0001-79,AVENIDA T LOT JD TROPICAL,53,NaN,TROPICAL,45209-130,DIESEL,2021-12-31,5.499,NaN,R$ / litro,PETROSERRA,True,
168403,NE,BA,JEQUIE,COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA,28.629.089/0001-79,AVENIDA T LOT JD TROPICAL,53,NaN,TROPICAL,45209-130,GASOLINA,2021-12-31,6.799,NaN,R$ / litro,PETROSERRA,True,
168404,NE,BA,JEQUIE,COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA,28.629.089/0001-79,AVENIDA T LOT JD TROPICAL,53,NaN,TROPICAL,45209-130,ETANOL,2021-12-31,5.859,NaN,R$ / litro,PETROSERRA,True,

In [117]:
# Calcular postos de gasolina por habitante temos na amostragem de 
# combustiveis nov/2021

num_habitantes_df = pd.read_csv("ibge_num_habitantes_estimado.csv", sep=";")
display(num_habitantes_df)

         Municipio Estado  NumHabitantes2021
0   BELO HORIZONTE     MG            2530701
1         CAMPINAS     SP            1223237
2     CAMPO GRANDE     MS             916001
3         CURITIBA     PR            1963726
4          GOIANIA     GO            1555626
5       INDAIATUBA     SP             260690
6            NATAL     RN             803739
7           PALMAS     TO             313349
8        PENAPOLIS     SP              64098
9     PORTO ALEGRE     RS            1492530
10     PORTO VELHO     RO             548952
11      RIO BRANCO     AC             419452
12  RIO DE JANEIRO     RJ            6775561
13    SALTO GRANDE     SP               9396
14          SANTOS     SP             433991
15       SAO PAULO     SP           12396372
16     SAO VICENTE     SP             370839
17     SERRA NEGRA     SP              29669

In [118]:
# Calcular postos de gasolina por habitante temos na amostragem de 
# combustiveis nov/2021

num_habitantes_df = pd.read_csv("ibge_num_habitantes_estimado.csv", sep=";")
num_habitantes_df.rename(columns={"Estado":"Estado - Sigla"}, inplace=True)
display(num_habitantes_df)

         Municipio Estado - Sigla  NumHabitantes2021
0   BELO HORIZONTE             MG            2530701
1         CAMPINAS             SP            1223237
2     CAMPO GRANDE             MS             916001
3         CURITIBA             PR            1963726
4          GOIANIA             GO            1555626
5       INDAIATUBA             SP             260690
6            NATAL             RN             803739
7           PALMAS             TO             313349
8        PENAPOLIS             SP              64098
9     PORTO ALEGRE             RS            1492530
10     PORTO VELHO             RO             548952
11      RIO BRANCO             AC             419452
12  RIO DE JANEIRO             RJ            6775561
13    SALTO GRANDE             SP               9396
14          SANTOS             SP             433991
15       SAO PAULO             SP           12396372
16     SAO VICENTE             SP             370839
17     SERRA NEGRA             SP              29669

In [136]:
# Faz um MERGE dos dois dataframes
colunas = ['Municipio', 'Estado - Sigla']
merge_df = combustiveis_df.merge(num_habitantes_df, how="inner", on=colunas)
display(merge_df)

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira,Ativo,Obs,NumHabitantes2021
0,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,GASOLINA,2021-11-01,6.999,NaN,R$ / litro,RAIZEN,True,,1555626
1,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,ETANOL,2021-11-01,4.990,NaN,R$ / litro,RAIZEN,True,,1555626
2,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,GASOLINA ADITIVADA,2021-11-01,7.130,NaN,R$ / litro,RAIZEN,True,,1555626
3,CO,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,AVENIDA INDEPENDENCIA,2.908,NaN,VILA NOVA,74645-010,GASOLINA,2021-11-01,6.990,NaN,R$ / litro,BRANCA,True,,1555626
4,CO,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,AVENIDA INDEPENDENCIA,2.908,NaN,VILA NOVA,74645-010,ETANOL,2021-11-01,4.990,NaN,R$ / litro,BRANCA,True,,1555626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20629,SE,SP,INDAIATUBA,POSTO DOS ESTEVES LTDA,20.763.169/0001-00,AVENIDA ITORORO,160,NaN,CENTRO,13330-055,GASOLINA,2021-12-28,6.499,NaN,R$ / litro,IPIRANGA,True,,260690
20630,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,DIESEL S10,2021-12-28,5.499,NaN,R$ / litro,RAIZEN,True,,260690
20631,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,GASOLINA ADITIVADA,2021-12-28,6.699,NaN,R$ / litro,RAIZEN,True,,260690
20632,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,ETANOL,2021-12-28,4.899,NaN,R$ / litro,RAIZEN,True,,260690
20633,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,GASOLINA,2021-12-28,6.299,NaN,R$ / litro,RAIZEN,True,,260690

In [120]:
#Destruir coluna completamente vazia (todas as linhas são nulas)
merge_df.dropna(axis='columns', inplace=True)
print(merge_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20634 entries, 0 to 20633
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Regiao - Sigla     20634 non-null  object
 1   Estado - Sigla     20634 non-null  object
 2   Municipio          20634 non-null  object
 3   Revenda            20634 non-null  object
 4   CNPJ da Revenda    20634 non-null  object
 5   Nome da Rua        20634 non-null  object
 6   Numero Rua         20634 non-null  object
 7   Bairro             20634 non-null  object
 8   Cep                20634 non-null  object
 9   Produto            20634 non-null  object
 10  Data da Coleta     20634 non-null  datetime64[ns]
 11  Valor de Venda     20634 non-null  float64
 12  Unidade de Medida  20634 non-null  object
 13  Bandeira           20634 non-null  object
 14  Ativo              20634 non-null  bool
 15  Obs                20634 non-null  object
 16  NumHabitantes2021  20634 non-null  int64
dtypes: bool(1), datetime64[ns](1), float64(1), int64(1), object(13)
memory usage: 2.7+ MB
None

In [138]:
colunas=['Regiao - Sigla', 'Nome da Rua', 'Numero Rua', 
         'Bairro', 'Cep', 'Produto', 'Data da Coleta',
         'Unidade de Medida', 'Bandeira', 'Ativo']
merge_df.drop(labels=colunas, axis=1, inplace=True)
print(merge_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20634 entries, 0 to 20633
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Estado - Sigla     20634 non-null  object
 1   Municipio          20634 non-null  object
 2   Revenda            20634 non-null  object
 3   CNPJ da Revenda    20634 non-null  object
 4   Complemento        3837 non-null   object
 5   Valor de Venda     20634 non-null  float64
 6   Valor de Compra    0 non-null      float64
 7   Obs                20634 non-null  object
 8   NumHabitantes2021  20634 non-null  int64
dtypes: float64(2), int64(1), object(6)
memory usage: 1.6+ MB
None

In [139]:
# Remover a linhas duplicadas
merge_df.drop_duplicates(inplace=True)
display(merge_df.head(100))

,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Complemento,Valor de Venda,Valor de Compra,Obs,NumHabitantes2021
0,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,QUADRA08 LOTE 11E,6.999,NaN,,1555626
1,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,QUADRA08 LOTE 11E,4.990,NaN,,1555626
2,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,QUADRA08 LOTE 11E,7.130,NaN,,1555626
3,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,NaN,6.990,NaN,,1555626
4,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,NaN,4.990,NaN,,1555626
...,...,...,...,...,...,...,...,...,...
98,GO,GOIANIA,AUTO POSTO ANTENA 104 EIRELI,05.634.368/0001-25,QD.219 LT.03,7.190,NaN,,1555626
99,GO,GOIANIA,AUTO POSTO ANTENA 104 EIRELI,05.634.368/0001-25,QD.219 LT.03,5.990,NaN,,1555626
100,GO,GOIANIA,POSTO TASSARA EIRELI,07.021.139/0001-60,QD. 143 LT. 26,5.190,NaN,,1555626
101,GO,GOIANIA,POSTO TASSARA EIRELI,07.021.139/0001-60,QD. 143 LT. 26,5.490,NaN,,1555626
102,GO,GOIANIA,POSTO TASSARA EIRELI,07.021.139/0001-60,QD. 143 LT. 26,7.190,NaN,,1555626

In [142]:
#Agrupar e contar quantos postos tem na cidade..
postos_por_municipio_df = merge_df.groupby(by=['Estado - Sigla', 'Municipio', 'NumHabitantes2021']).count()
postos_por_municipio_df.drop('CNPJ da Revenda', axis=1, inplace=True)
postos_por_municipio_df.rename(columns={"Revenda": "Número de Postos"}, inplace=True)
display(postos_por_municipio_df)

                                                 Número de Postos  \
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452                          268
GO             GOIANIA        1555626                         923
MG             BELO HORIZONTE 2530701                         452
MS             CAMPO GRANDE   916001                          791
PR             CURITIBA       1963726                         742
RJ             RIO DE JANEIRO 6775561                        2037
RN             NATAL          803739                          423
RO             PORTO VELHO    548952                          224
RS             PORTO ALEGRE   1492530                         439
SP             CAMPINAS       1223237                         501
               INDAIATUBA     260690                          263
               SANTOS         433991                          219
               SAO PAULO      12396372                       2587
               SAO VICENTE    370839                          148
TO             PALMAS         313349                          131

                                                 Complemento  Valor de Venda  \
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452                      51             268
GO             GOIANIA        1555626                    757             923
MG             BELO HORIZONTE 2530701                     16             452
MS             CAMPO GRANDE   916001                      92             791
PR             CURITIBA       1963726                     75             742
RJ             RIO DE JANEIRO 6775561                    320            2037
RN             NATAL          803739                     101             423
RO             PORTO VELHO    548952                       4             224
RS             PORTO ALEGRE   1492530                     42             439
SP             CAMPINAS       1223237                     94             501
               INDAIATUBA     260690                      22             263
               SANTOS         433991                      37             219
               SAO PAULO      12396372                   247            2587
               SAO VICENTE    370839                       9             148
TO             PALMAS         313349                      84             131

                                                 Valor de Compra   Obs
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452                           0   268
GO             GOIANIA        1555626                          0   923
MG             BELO HORIZONTE 2530701                          0   452
MS             CAMPO GRANDE   916001                           0   791
PR             CURITIBA       1963726                          0   742
RJ             RIO DE JANEIRO 6775561                          0  2037
RN             NATAL          803739                           0   423
RO             PORTO VELHO    548952                           0   224
RS             PORTO ALEGRE   1492530                          0   439
SP             CAMPINAS       1223237                          0   501
               INDAIATUBA     260690                           0   263
               SANTOS         433991                           0   219
               SAO PAULO      12396372                         0  2587
               SAO VICENTE    370839                           0   148
TO             PALMAS         313349                           0   131

In [143]:
#AQUI O FINAL ESTÁ COM PROBLEMA

#Agrupar e contar quantos postos tem na cidade..
postos_por_municipio_df = merge_df.groupby(by=['Estado - Sigla', 'Municipio', 'NumHabitantes2021']).count()
display(postos_por_municipio_df.info())
postos_por_municipio_df.drop('CNPJ da Revenda', axis=1, inplace=True)
postos_por_municipio_df.rename(columns={"Revenda": "NumPostos"}, inplace=True)

#postos_por_municipio_df['PostosPorHabitante'] = postos_por_municipio_df['NumPostos'] / postos_por_municipio_df['NumHabitantes2021']
display(postos_por_municipio_df)

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 15 entries, ('AC', 'RIO BRANCO', 419452) to ('TO', 'PALMAS', 313349)
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Revenda          15 non-null     int64
 1   CNPJ da Revenda  15 non-null     int64
 2   Complemento      15 non-null     int64
 3   Valor de Venda   15 non-null     int64
 4   Valor de Compra  15 non-null     int64
 5   Obs              15 non-null     int64
dtypes: int64(6)
memory usage: 1.2+ KB

None

                                                 NumPostos  Complemento  \
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452                   268           51
GO             GOIANIA        1555626                  923          757
MG             BELO HORIZONTE 2530701                  452           16
MS             CAMPO GRANDE   916001                   791           92
PR             CURITIBA       1963726                  742           75
RJ             RIO DE JANEIRO 6775561                 2037          320
RN             NATAL          803739                   423          101
RO             PORTO VELHO    548952                   224            4
RS             PORTO ALEGRE   1492530                  439           42
SP             CAMPINAS       1223237                  501           94
               INDAIATUBA     260690                   263           22
               SANTOS         433991                   219           37
               SAO PAULO      12396372                2587          247
               SAO VICENTE    370839                   148            9
TO             PALMAS         313349                   131           84

                                                 Valor de Venda  \
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452                        268
GO             GOIANIA        1555626                       923
MG             BELO HORIZONTE 2530701                       452
MS             CAMPO GRANDE   916001                        791
PR             CURITIBA       1963726                       742
RJ             RIO DE JANEIRO 6775561                      2037
RN             NATAL          803739                        423
RO             PORTO VELHO    548952                        224
RS             PORTO ALEGRE   1492530                       439
SP             CAMPINAS       1223237                       501
               INDAIATUBA     260690                        263
               SANTOS         433991                        219
               SAO PAULO      12396372                     2587
               SAO VICENTE    370839                        148
TO             PALMAS         313349                        131

                                                 Valor de Compra   Obs
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452                           0   268
GO             GOIANIA        1555626                          0   923
MG             BELO HORIZONTE 2530701                          0   452
MS             CAMPO GRANDE   916001                           0   791
PR             CURITIBA       1963726                          0   742
RJ             RIO DE JANEIRO 6775561                          0  2037
RN             NATAL          803739                           0   423
RO             PORTO VELHO    548952                           0   224
RS             PORTO ALEGRE   1492530                          0   439
SP             CAMPINAS       1223237                          0   501
               INDAIATUBA     260690                           0   263
               SANTOS         433991                           0   219
               SAO PAULO      12396372                         0  2587
               SAO VICENTE    370839                           0   148
TO             PALMAS         313349                           0   131